body {
    background: rgb(248, 252, 255);
}
.question {
    padding: 10px 15px;
    max-width: 600px;
    box-shadow: 0px 0px 5px silver;
    margin: 20px 0;
    background: rgb(255, 255, 255);

}
.question-title {
    padding: 5px 0;
    border-bottom: 1px solid rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
}
.answer {
    display: none;
    color: olive;
}
.question-btn {
    background: none;
    border: none;
}
.plus {
    margin: 5px;
    border: 1px solid rgb(2, 2, 2);
    padding: 3px 6px;
    font-weight: 900;
    transition: 0.5s ease-in-out;
}
.minus {
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding: 3px 6px;
    font-weight: 900;
    display: none;
    
    transition: 0.5s ease-in-out;
}
.main-qst {
    font-weight: 800;
}